.action-button-create-edit{
  background: white;
  color: #0243eb;
  border-color: #0243eb;
  width: 10%;
  font-weight: bold;
}

.action-button-create-edit:hover, .action-button-create-edit:focus{
  background: #dbe9fd;
  color: #0243eb;
  border-color: #0243eb;
}

.action-button-completed, .action-button-cancel{
  background: white;
  color: #dc262b;
  border-color: #dc262b;
  font-weight: bold;
}

.action-button-completed:hover, .action-button-completed:focus, .action-button-cancel:hover, .action-button-cancel:focus{
  background: #fce4e5;
  color: #dc262b;
  border-color: #dc262b;
}

.float-right {
  float: right;
}

.add-button {
  width: 15%;
}

.edit-button {
  width: 20%;
}